body{
	background-image:url("put your original ideas.gif");
	background-size:cover;
  
}



.utkarsh{
        background-color:light blue;
        height: 5%;
        width: 50%;
        text-indent: 50px;
        color: white;

        border-left: 6px solid white;
        font-size:10px;
        text-decoration:none;
    }


a{
     color:white
}

form{
	margin-top:50px;
	transition:all 4s ease-in-out;
	
}


.contact-form{
	text-align:center;
}

.contact-title{
	text-align:center;
	color:white;
	font-family:"freestyle script";
	margin-top:100px;
}

.contact-title h1{
	line-height:10px;
	font-size:50px;
	
}

.form-control

{
	width:600px;
	background:transparent;
	border:none;
	outline:none;
	border-bottom:1px solid gray;
	color:white;
	margin-bottom:16px;
	font-size:20px;

}

input
{
	height:45px;
}

.submit

{
	background-color:#ff5722;
	border-color:transparent;
	color:white;
	font-size:20px;
	font-weight:bold;
	height:50px;
	margin-top:20px;
	border-radius:10px;
}

.submit:hover

{
	background-color:#f44336;
	cursor:pointer;
}